*{
    margin: 0;
    padding: 0;
    
 
}
body{
    background-color: blue;
    width: auto;
    height: auto;
}
.container{
    display: flex;
    flex-direction: column;

}
.hero{
    display: flex;
    flex-direction: column;
    background-color: blue;


}
.headline-container{
    display: flex;
    flex-direction: row;
}
.headline{
    margin: 0;
    color: white;
    padding: 6%;
    padding-left: 10%;
    background-color: blue;
    width: 35%;


}

h1{
    font-size: 65px;
   
}
h2{
    color: white;

}
label{
    color: white;
    font-size: 20px
}
button{
    color: black;
    background-color: white;
    padding: 6px;
    border-radius: 0.5rem;
    
}
.getnotif{
    background-color: rgb(70, 67, 67);
}

.uiai{
    
}
img{
    width: 30%;
   
}
.uiai{
    display: flex;
    justify-content: space-evenly;
}
.features{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.feature{
    padding: 40px;
    margin: 10px;
    height: 400px;
    background-color: blueviolet;
    border-radius: 10px;
}
p{
    font-size: 30px ;
    width: 400px;
}

.text{
    margin-top: 2%;
    margin-left: 10%;
    background-color: blueviolet;

}

.features::-webkit-scrollbar{
    width:0;
}
.launch-time-container{
    color: white;
    padding :5%;
    padding-top: 7%;
    width: 40%;
}
.launch-time{
    display: flex;
}
.launch-time div{
  width: 90px;
}

@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        padding: 0;
    }
    img{
        width: 70%;
    }
    h1{
        font-size: 50px;
    }

    .headline{
        width: 70%;
        padding: 2%;
        padding-left: 0;
    }
    .headline h1{
    
      
       
    }

    .headline-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .launch-time-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .launch-time-container h1{
       font-size: 50px;
       width: 300px;
    }
    .launch-time p{
        width: fit-content;
    }
    .launchingIn h1{
        font-size: 40px;
    }
    .feature{
        display: flex;
        justify-content: center;
     
    }
    .feature h1{
        font-size: 30px;
        padding:2px;
        
    }
    .feature p{
        font-size: 20px;
        width: 90%;
    }
    .feature{
        padding: 5px;
    }
  }
